@page "/add-category"
@inject ICategoryService categoryService
<div class="row">
    <div class="col-md-8 offset-3">
        <div class="card">
            <div class="card-header">
                <span class="oi oi-plus"></span> Add Category
            </div>
            <div class="card-body">
                <EditForm Model="@newCategory" OnValidSubmit="HandleAddCategory">
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                    <ValidationSummary class="form-control p-3"></ValidationSummary>
                    <div class="form-group mt-2">
                        <div class="alert alert-@CssClass">@Message</div>
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="title">Name</label>
                        <InputText id="title" @bind-Value="newCategory.Name" class="form-control"></InputText>
                        <ValidationMessage For="@(()=> newCategory.Name)"></ValidationMessage>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <img src="@newCategory.Image" class="card-image-top" style="width:150px; height:100px" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mt-2">
                                <label class="form-label" for="image">Image</label>&nbsp; <span class="text-danger fw-bold">@uploadMessage</span>
                                <InputFile id="image" OnChange="OnFileChange" class="form-control"></InputFile>
                                <ValidationMessage For="@(()=> newCategory.Image)"></ValidationMessage>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary float-end"> <i class="oi oi-plus"></i> Create</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>



@code {
    public Category newCategory = new Category();
    private string? uploadMessage;
    private string? Message = string.Empty;
    private string? CssClass = string.Empty;
    async Task HandleAddCategory()
    {
        Message = "";
        var response = await categoryService.AddCategory(newCategory);
        Message = response!.Message;
        CssClass = response!.CssClass;
    }


    async Task OnFileChange(InputFileChangeEventArgs e)
    {
        FileInfo fileInfo = new FileInfo(e.File.Name);
        if (fileInfo.Extension.ToLower().Contains(".jpg"))
        {
            uploadMessage = "";
            var format = "image/jpg";
            var resizeImage = await e.File.RequestImageFileAsync(format, 300, 300);
            var buffer = new byte[resizeImage.Size];
            await resizeImage.OpenReadStream().ReadAsync(buffer);
            var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            newCategory.Image = imageData;

        }
        else { uploadMessage = "Invalid file selected (only JPG file)"; }
    }
}